body {
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

form.choreo-form {
    display: grid;
}

/* Side Navigation */
.sidenav {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
}

.choreo-controls {
    display: grid;
    row-gap: 7px;
    margin-left: 20px;
    line-height: 175%;
}

.choreo-form {
    grid-template-columns: 200px 200px;
}

.form-container {
    display: flex;
    gap: 7px;
}


/* Content Styling */
.content {
    margin-left: 500px;
    padding-left: 20px;
    margin-top: 50px;
}

.searchInput {
    display:block;
}

.search-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
}

.clear-search {
    display: flex;
    justify-content: center;
}

.tap-moves-title {
    display: flex;
    justify-content: center;
}

/* Moves List styling */

.parentMove {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.childMove {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.tapMove {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.name {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.altNames {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.counts {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.sounds {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.btn {
    margin-right: 10px;
}

.childMove {
    padding-left: 20px;
}